* {
  box-sizing: border-box;
}

.mb-24-lg {
  margin-bottom: 24px;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(220, 220, 220);
  border-radius: 4px;
  transition: all 200ms ease 0s;
  text-decoration: none;
}

.card-content {
  padding: 24px;
}

.singup-form-wrap {
  display: flex;
  align-items: center;
}

.w-form {
  margin: 0px 0px 15px;
}

.mr-16-lg {
  margin-right: 16px;
}

.h-signup-form {
  margin-bottom: 0px;
  flex: 1 1 0%;
}

.form-h {
  display: flex;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0px;
}

input {
  line-height: normal;
}

.w-input,
.w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
}

.w-input:focus,
.w-select:focus {
  border-color: rgb(56, 152, 236);
  outline: 0px;
}

.field {
  height: auto;
  margin-bottom: 0px;
  padding: 12px 1em;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(212, 212, 212);
  border-radius: 4px;
  transition: border 300ms ease 0s;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 24px;
}

.field:hover {
  border-color: rgb(20, 63, 205);
}

.field:focus {
  border-color: rgb(20, 63, 205);
}

.field.mr-16-lg {
  font-size: 16px;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: rgb(56, 152, 236);
  color: white;
  border: 0px;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0px;
}

input.w-button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  transition: all 150ms ease 0s;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.button:hover {
  border-color: rgb(20, 63, 205);
  background-color: rgb(20, 63, 205);
  color: rgb(255, 255, 255);
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: rgb(221, 221, 221);
}

.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(255, 222, 222);
}

.f-secondary {
  color: rgb(119, 119, 119);
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0px;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

a:hover {
  color: rgb(20, 63, 205);
}

.button.button-secondary {
  border-color: rgb(212, 212, 212);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.button.button-secondary:hover {
  border-color: rgb(20, 63, 205);
  background-color: rgb(234, 235, 255);
  color: rgb(20, 63, 205);
}

.button.button-medium {
  height: 48px;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.button-icon_content {
  display: flex;
}

.w-embed::before,
.w-embed::after {
  content: " ";
  display: table;
  grid-area: 1/1/2/2;
}

.w-embed::after {
  clear: both;
}

.button_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

svg:not(:root) {
  overflow: hidden;
}

.button_text {
  display: inline-block;
  height: 24px;
}

* {
  box-sizing: border-box;
}

.mb-24-lg {
  margin-bottom: 24px;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(220, 220, 220);
  border-radius: 4px;
  transition: all 200ms ease 0s;
  text-decoration: none;
}

.card-content {
  padding: 24px;
}

.singup-form-wrap {
  display: flex;
  align-items: center;
}

.w-form {
  margin: 0px 0px 15px;
}

.mr-16-lg {
  margin-right: 16px;
}

.h-signup-form {
  margin-bottom: 0px;
  flex: 1 1 0%;
}

.form-h {
  display: flex;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0px;
}

input {
  line-height: normal;
}

.w-input,
.w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
}

.w-input:focus,
.w-select:focus {
  border-color: rgb(56, 152, 236);
  outline: 0px;
}

.field {
  height: auto;
  margin-bottom: 0px;
  padding: 12px 1em;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(212, 212, 212);
  border-radius: 4px;
  transition: border 300ms ease 0s;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 24px;
}

.field:hover {
  border-color: rgb(20, 63, 205);
}

.field:focus {
  border-color: rgb(20, 63, 205);
}

.field.mr-16-lg {
  font-size: 16px;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: rgb(56, 152, 236);
  color: white;
  border: 0px;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0px;
}

input.w-button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  transition: all 150ms ease 0s;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.button:hover {
  border-color: rgb(20, 63, 205);
  background-color: rgb(20, 63, 205);
  color: rgb(255, 255, 255);
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: rgb(221, 221, 221);
}

.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(255, 222, 222);
}

.f-secondary {
  color: rgb(119, 119, 119);
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0px;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

a:hover {
  color: rgb(20, 63, 205);
}

.button.button-secondary {
  border-color: rgb(212, 212, 212);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.button.button-secondary:hover {
  border-color: rgb(20, 63, 205);
  background-color: rgb(234, 235, 255);
  color: rgb(20, 63, 205);
}

.button.button-medium {
  height: 48px;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.button-icon_content {
  display: flex;
}

.w-embed::before,
.w-embed::after {
  content: " ";
  display: table;
  grid-area: 1/1/2/2;
}

.w-embed::after {
  clear: both;
}

.button_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

svg:not(:root) {
  overflow: hidden;
}

.button_text {
  display: inline-block;
  height: 24px;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.w-container::before,
.w-container::after {
  content: " ";
  display: table;
  grid-area: 1/1/2/2;
}

.w-container::after {
  clear: both;
}

.container {
  position: static;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
}

.site-nav_container {
  position: static;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.site-nav_logo {
  position: relative;
  top: 4px;
  display: flex;
  width: 200px;
  padding-left: 0px;
  align-items: center;
  transition: color 200ms ease 0s;
  color: rgb(0, 0, 0);
  transform-style: preserve-3d;
}

.site-nav_logo:hover {
  color: rgb(20, 63, 205);
}

.site-nav_logo.w--current {
  padding-left: 0px;
}

img {
  border: 0px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.logo-img {
  width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

.w-nav-menu {
  position: relative;
  float: right;
}

.site-nav_menu {
  position: static;
  display: flex;
  height: 40px;
  align-items: center;
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: rgb(34, 34, 34);
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.site-nav_link {
  margin-right: 24px;
  padding: 0.5em 0em;
  border-radius: 0px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  transition: all 200ms ease 0s;
  color: rgb(0, 0, 0);
}

.site-nav_link:hover {
  box-shadow: rgb(20, 63, 205) 0px 2px 0px 0px;
  color: rgb(20, 63, 205);
}

.button.mr16 {
  margin-right: 16px;
}

.w-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.w-nav-button:focus {
  outline: 0px;
}

.w-icon-nav-menu::before {
  content: "\e602";
}

* {
  box-sizing: border-box;
}

.mb-24-lg {
  margin-bottom: 24px;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(220, 220, 220);
  border-radius: 4px;
  transition: all 200ms ease 0s;
  text-decoration: none;
}

.card-content {
  padding: 24px;
}

.singup-form-wrap {
  display: flex;
  align-items: center;
}

.w-form {
  margin: 0px 0px 15px;
}

.mr-16-lg {
  margin-right: 16px;
}

.h-signup-form {
  margin-bottom: 0px;
  flex: 1 1 0%;
}

.form-h {
  display: flex;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0px;
}

input {
  line-height: normal;
}

.w-input,
.w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
}

.w-input:focus,
.w-select:focus {
  border-color: rgb(56, 152, 236);
  outline: 0px;
}

.field {
  height: auto;
  margin-bottom: 0px;
  padding: 12px 1em;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(212, 212, 212);
  border-radius: 4px;
  transition: border 300ms ease 0s;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 24px;
}

.field:hover {
  border-color: rgb(20, 63, 205);
}

.field:focus {
  border-color: rgb(20, 63, 205);
}

.field.mr-16-lg {
  font-size: 16px;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: rgb(56, 152, 236);
  color: white;
  border: 0px;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0px;
}

input.w-button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  transition: all 150ms ease 0s;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.button:hover {
  border-color: rgb(20, 63, 205);
  background-color: rgb(20, 63, 205);
  color: rgb(255, 255, 255);
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: rgb(221, 221, 221);
}

.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(255, 222, 222);
}

.f-secondary {
  color: rgb(119, 119, 119);
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0px;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

a:hover {
  color: rgb(20, 63, 205);
}

.button.button-secondary {
  border-color: rgb(212, 212, 212);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.button.button-secondary:hover {
  border-color: rgb(20, 63, 205);
  background-color: rgb(234, 235, 255);
  color: rgb(20, 63, 205);
}

.button.button-medium {
  height: 48px;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.button-icon_content {
  display: flex;
}

.w-embed::before,
.w-embed::after {
  content: " ";
  display: table;
  grid-area: 1/1/2/2;
}

.w-embed::after {
  clear: both;
}

.button_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

svg:not(:root) {
  overflow: hidden;
}

.button_text {
  display: inline-block;
  height: 24px;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.w-container::before,
.w-container::after {
  content: " ";
  display: table;
  grid-area: 1/1/2/2;
}

.w-container::after {
  clear: both;
}

.container {
  position: static;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
}

.site-nav_container {
  position: static;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.site-nav_logo {
  position: relative;
  top: 4px;
  display: flex;
  width: 200px;
  padding-left: 0px;
  align-items: center;
  transition: color 200ms ease 0s;
  color: rgb(0, 0, 0);
  transform-style: preserve-3d;
}

.site-nav_logo:hover {
  color: rgb(20, 63, 205);
}

.site-nav_logo.w--current {
  padding-left: 0px;
}

img {
  border: 0px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.logo-img {
  width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

.w-nav-menu {
  position: relative;
  float: right;
}

.site-nav_menu {
  position: static;
  display: flex;
  height: 40px;
  align-items: center;
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: rgb(34, 34, 34);
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.site-nav_link {
  margin-right: 24px;
  padding: 0.5em 0em;
  border-radius: 0px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  transition: all 200ms ease 0s;
  color: rgb(0, 0, 0);
}

.site-nav_link:hover {
  box-shadow: rgb(20, 63, 205) 0px 2px 0px 0px;
  color: rgb(20, 63, 205);
}

.button.mr16 {
  margin-right: 16px;
}

.w-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.w-nav-button:focus {
  outline: 0px;
}

.w-icon-nav-menu::before {
  content: "\e602";
}

.cols {
  display: flex;
  margin-right: -20px;
  margin-left: -20px;
}

.cols.stats-cols {
  margin-right: 0px;
  margin-left: 0px;
  border-top: 1px solid rgb(220, 220, 220);
  border-bottom: 1px solid rgb(220, 220, 220);
}

.col {
  padding-right: 20px;
  padding-left: 20px;
  flex: 1 1 0%;
}

.col.border-right {
  border-right: 1px solid rgb(220, 220, 220);
}

.stat {
  display: flex;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.stat.blue {
  color: rgb(20, 63, 205);
}

.headline-2 {
  font-family: "Galano Classic", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.headline-4 {
  font-family: "Galano Classic", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

.stat.orange {
  color: rgb(240, 89, 28);
}

.stat.green {
  color: rgb(12, 113, 52);
}

@media screen and (max-width: 767px) {
  .singup-form-wrap {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .h-signup-form.mr-16-lg.mr-0-sm {
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .form-h {
    display: block;
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .field {
    box-shadow: none;
  }
}
@media screen and (max-width: 991px) {
  .field {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .field.mr-16-lg.mr-0-sm {
    width: 100%;
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .field.mr-16-lg.mr-0-sm.mb-16-sm {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 479px) {
  .field {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .button {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .button.button-100 {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .button {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .f-secondary.mr-16-lg.mr-0-sm {
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .f-secondary.mr-16-lg.mr-0-sm.or-text {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (max-width: 991px) {
  .button {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .button.button-secondary.button-medium.button-100 {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .button.button-medium.button-100 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .button.button-100 {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .button {
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  .button.button-secondary.button-medium.button-100 {
    padding-top: 0.8em;
  }
}
@media screen and (max-width: 767px) {
  .button-icon_content {
    justify-content: center;
  }
}
@media screen and (max-width: 479px) {
  .button-icon_content {
    align-items: center;
  }
}
@media screen and (max-width: 479px) {
  .button_text {
    padding-top: 2px;
  }
}
@media screen and (max-width: 767px) {
  .singup-form-wrap {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .h-signup-form.mr-16-lg.mr-0-sm {
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .form-h {
    display: block;
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .field {
    box-shadow: none;
  }
}
@media screen and (max-width: 991px) {
  .field {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .field.mr-16-lg.mr-0-sm {
    width: 100%;
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .field.mr-16-lg.mr-0-sm.mb-16-sm {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 479px) {
  .field {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .button {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .button.button-100 {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .button {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .f-secondary.mr-16-lg.mr-0-sm {
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .f-secondary.mr-16-lg.mr-0-sm.or-text {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (max-width: 991px) {
  .button {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .button.button-secondary.button-medium.button-100 {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .button.button-medium.button-100 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .button.button-100 {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .button {
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  .button.button-secondary.button-medium.button-100 {
    padding-top: 0.8em;
  }
}
@media screen and (max-width: 767px) {
  .button-icon_content {
    justify-content: center;
  }
}
@media screen and (max-width: 479px) {
  .button-icon_content {
    align-items: center;
  }
}
@media screen and (max-width: 479px) {
  .button_text {
    padding-top: 2px;
  }
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    position: static;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 479px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (max-width: 991px) {
  .site-nav_container {
    position: static;
    border-bottom-style: none;
    text-align: center;
  }
}
@media screen and (max-width: 479px) {
  .site-nav_container {
    height: 80px;
  }
}
@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (max-width: 479px) {
  .site-nav_logo {
    width: 150px;
  }
}
@media screen and (max-width: 991px) {
  .w-nav[data-collapse=medium] .w-nav-menu {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .site-nav_menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    padding-right: 80px;
    padding-left: 80px;
    background-color: rgb(255, 255, 255);
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .site-nav_menu {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (min-width: 1280px) {
  .site-nav_link {
    margin-right: 40px;
  }
}
@media screen and (max-width: 991px) {
  .site-nav_link {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 16px;
    font-family: "Galano Classic", sans-serif;
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (min-width: 1280px) {
  .site-nav_link {
    margin-right: 40px;
  }
}
@media screen and (max-width: 991px) {
  .site-nav_link {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 16px;
    font-family: "Galano Classic", sans-serif;
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (min-width: 1280px) {
  .site-nav_link {
    margin-right: 40px;
  }
}
@media screen and (max-width: 991px) {
  .site-nav_link {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 16px;
    font-family: "Galano Classic", sans-serif;
    font-size: 24px;
  }
}
@media screen and (max-width: 991px) {
  .nav-buttons {
    margin-top: 32px;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (max-width: 991px) {
  .button {
    font-size: 15px;
  }
}
@media screen and (max-width: 479px) {
  .button {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (max-width: 991px) {
  .button {
    font-size: 15px;
  }
}
@media screen and (max-width: 479px) {
  .button {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .w-nav[data-collapse=medium] .w-nav-button {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .singup-form-wrap {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .h-signup-form.mr-16-lg.mr-0-sm {
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .form-h {
    display: block;
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .field {
    box-shadow: none;
  }
}
@media screen and (max-width: 991px) {
  .field {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .field.mr-16-lg.mr-0-sm {
    width: 100%;
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .field.mr-16-lg.mr-0-sm.mb-16-sm {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 479px) {
  .field {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .button {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .button.button-100 {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .button {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .f-secondary.mr-16-lg.mr-0-sm {
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .f-secondary.mr-16-lg.mr-0-sm.or-text {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (max-width: 991px) {
  .button {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .button.button-secondary.button-medium.button-100 {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .button.button-medium.button-100 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .button.button-100 {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .button {
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  .button.button-secondary.button-medium.button-100 {
    padding-top: 0.8em;
  }
}
@media screen and (max-width: 767px) {
  .button-icon_content {
    justify-content: center;
  }
}
@media screen and (max-width: 479px) {
  .button-icon_content {
    align-items: center;
  }
}
@media screen and (max-width: 479px) {
  .button_text {
    padding-top: 2px;
  }
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    position: static;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 479px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (max-width: 991px) {
  .site-nav_container {
    position: static;
    border-bottom-style: none;
    text-align: center;
  }
}
@media screen and (max-width: 479px) {
  .site-nav_container {
    height: 80px;
  }
}
@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (max-width: 479px) {
  .site-nav_logo {
    width: 150px;
  }
}
@media screen and (max-width: 991px) {
  .w-nav[data-collapse=medium] .w-nav-menu {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .site-nav_menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    padding-right: 80px;
    padding-left: 80px;
    background-color: rgb(255, 255, 255);
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .site-nav_menu {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (min-width: 1280px) {
  .site-nav_link {
    margin-right: 40px;
  }
}
@media screen and (max-width: 991px) {
  .site-nav_link {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 16px;
    font-family: "Galano Classic", sans-serif;
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (min-width: 1280px) {
  .site-nav_link {
    margin-right: 40px;
  }
}
@media screen and (max-width: 991px) {
  .site-nav_link {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 16px;
    font-family: "Galano Classic", sans-serif;
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (min-width: 1280px) {
  .site-nav_link {
    margin-right: 40px;
  }
}
@media screen and (max-width: 991px) {
  .site-nav_link {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 16px;
    font-family: "Galano Classic", sans-serif;
    font-size: 24px;
  }
}
@media screen and (max-width: 991px) {
  .nav-buttons {
    margin-top: 32px;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (max-width: 991px) {
  .button {
    font-size: 15px;
  }
}
@media screen and (max-width: 479px) {
  .button {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  a {
    color: rgb(0, 0, 0);
  }
}
@media screen and (max-width: 991px) {
  .button {
    font-size: 15px;
  }
}
@media screen and (max-width: 479px) {
  .button {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .w-nav[data-collapse=medium] .w-nav-button {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    position: static;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 479px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (max-width: 991px) {
  .cols.stats-cols {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .col.col-33 {
    flex: 0 1 33.333%;
  }
}
@media screen and (max-width: 991px) {
  .col.col-33.border-right {
    border-right-style: none;
  }
}
@media screen and (max-width: 991px) {
  .stat {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .headline-2 {
    font-size: 2.4em;
  }
}
@media screen and (max-width: 991px) {
  .headline-2 {
    font-size: 30px;
    line-height: 39px;
  }
}
@media screen and (max-width: 479px) {
  .headline-2 {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.2px;
  }
}
@media screen and (max-width: 479px) {
  .headline-2.mb-8 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .headline-4 {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 991px) {
  .headline-4 {
    font-size: 18px;
    line-height: 23px;
  }
}
@media screen and (max-width: 479px) {
  .headline-4 {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 991px) {
  .col.col-33 {
    flex: 0 1 33.333%;
  }
}
@media screen and (max-width: 991px) {
  .col.col-33.border-right {
    border-right-style: none;
  }
}
@media screen and (max-width: 991px) {
  .stat {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 991px) {
  .stat.orange.center-stat {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .headline-2 {
    font-size: 2.4em;
  }
}
@media screen and (max-width: 991px) {
  .headline-2 {
    font-size: 30px;
    line-height: 39px;
  }
}
@media screen and (max-width: 479px) {
  .headline-2 {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.2px;
  }
}
@media screen and (max-width: 479px) {
  .headline-2.mb-8 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .headline-4 {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 991px) {
  .headline-4 {
    font-size: 18px;
    line-height: 23px;
  }
}
@media screen and (max-width: 479px) {
  .headline-4 {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 991px) {
  .col.col-33 {
    flex: 0 1 33.333%;
  }
}
@media screen and (max-width: 991px) {
  .stat {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .headline-2 {
    font-size: 2.4em;
  }
}
@media screen and (max-width: 991px) {
  .headline-2 {
    font-size: 30px;
    line-height: 39px;
  }
}
@media screen and (max-width: 479px) {
  .headline-2 {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.2px;
  }
}
@media screen and (max-width: 479px) {
  .headline-2.mb-8 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .headline-4 {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 991px) {
  .headline-4 {
    font-size: 18px;
    line-height: 23px;
  }
}
@media screen and (max-width: 479px) {
  .headline-4 {
    font-size: 16px;
    line-height: 20px;
  }
}/*# sourceMappingURL=Stats.css.map */